<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576311570480-h48boqv3d59r9pok32b3hhcph8p7t6kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576311570480-h48boqv3d59r9pok32b3hhcph8p7t6kh</string>
	<key>API_KEY</key>
	<string>AIzaSyA8_-cnVcyhF7dnMDfi6w3zkEjVlYDmeYc</string>
	<key>GCM_SENDER_ID</key>
	<string>576311570480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.toastgo-go</string>
	<key>PROJECT_ID</key>
	<string>aye-toastgo-go</string>
	<key>STORAGE_BUCKET</key>
	<string>aye-toastgo-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576311570480:ios:4bf5cd96abed3f3c2d3df5</string>
</dict>
</plist>