<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901520967126-biqcjn1isbj61oaje1uma00pbst0ean8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901520967126-biqcjn1isbj61oaje1uma00pbst0ean8</string>
	<key>API_KEY</key>
	<string>AIzaSyBHtPhSgbPqRJd7FuhfZCtYwLDJUyW6K7k</string>
	<key>GCM_SENDER_ID</key>
	<string>901520967126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.toastgo</string>
	<key>PROJECT_ID</key>
	<string>aye-toastgo</string>
	<key>STORAGE_BUCKET</key>
	<string>aye-toastgo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901520967126:ios:0ee7f85c936cac4f335077</string>
</dict>
</plist>